{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 text-center">
    <p>
        <strong>
            En Psico-Aprendo CIARD, ofrecemos recursos educativos diseñados especialmente para ayudar a los niños con necesidades educativas especiales a aprender y crecer en un entorno inclusivo y estimulante.
        </strong>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 text-center">
            <h2>Misión</h2>
            <p>
                En Psico-Aprendo CIARD, nuestra misión es proporcionar recursos educativos
                inclusivos y accesibles que apoyen el desarrollo integral de niños con 
                necesidades educativas especiales. Nos comprometemos a crear un entorno 
                de aprendizaje estimulante y seguro, donde cada niño pueda alcanzar su 
                máximo potencial a través de métodos pedagógicos innovadores y personalizados. 
                Trabajamos en colaboración con familias, educadores y profesionales para fomentar 
                una comunidad educativa inclusiva y solidaria.
            </p>
        </div>

        <div class="col-md-6 col-sm-12 text-center">
            <h2>Visión</h2>
            <p>
                Nuestra visión es ser líderes en la educación inclusiva, reconocidos por nuestra
                 dedicación a la excelencia y la innovación en el apoyo a niños con necesidades 
                 educativas especiales. Aspiramos a transformar la educación, promoviendo
                  la igualdad de oportunidades y el respeto por la diversidad. Imaginamos un 
                  futuro donde todos los niños, independientemente de sus capacidades, puedan aprender,
                   crecer y prosperar en un entorno que valora y celebra sus diferencias.
            </p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h2>Galería de Fotos</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <!-- Agrega más botones aquí si tienes más imágenes -->
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/galeria1.png' %}" class="d-block w-100" alt="Descripción de la foto 1" style="height: 400px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/galeria2.png' %}" class="d-block w-100" alt="Descripción de la foto 2" style="height: 400px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/galeria3.png' %}" class="d-block w-100" alt="Descripción de la foto 3" style="height: 400px;">
            </div>
            <!-- Agrega más divs de carousel-item aquí si tienes más imágenes -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{% endblock %}
