<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recursos educativos para niños con necesidades especiales.">
    <meta name="keywords" content="educación, necesidades especiales, aprendizaje, niños, recursos educativos, inclusión">
    <title>{% block title %}Psico-Aprendo CIARD{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!--No carga bien-->

    <style>
        .container-fluid {
            padding: 0;
            margin: 0;
        }
        .main-image {
            width: 100%;
            height: 450px; 
            object-fit: cover; 
        }
    </style>


</head>
<body>
    <div class="container-fluid">
        <img src="{% static 'images/fondo_principal.jpeg' %}" alt="Imagen Principal" class="img-fluid main-image">
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary row">
        <div class="container-fluid bg-warning">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/icono-brain.png' %}" alt="Logo de Psico-Aprendo CIARD"> Psico-Aprendo CIARD
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Números y Letras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Colores y Figuras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Cuentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Sobre nosotros</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-danger" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container-fluid">
        {% block content %}
        <!-- Contenido de la página aquí -->
        {% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
